<!DOCTYPE html>
<html>
<head>
  <title>nik.io</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Atomic+Age' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
